<section>
    <div class="d-flex justify-content-between">
      <h4>Listado de malla</h4>
    </div>

    <br>
    <table class="table ">
      <tr>
        <th>DESDE</th>
        <th>HASTA</th>
        <th>codigo</th>
        <th>materia</th>
        <th>nombre</th>
        <th>curso</th>
      </tr>
      <tr *ngFor="let valor of resultados">
        <td>{{}}</td>
        <td>{{}}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
      </tr>
    </table>
 </section>
